@import "_setup.scss";
@import "_utils.scss";
@import "_typography.scss";

// ===============
// APP
// ===============

.wrapper {
    max-width: 350px;
    margin: 0 auto;
    @include breakPoint(medium){
        max-width: 600px;
    }   
}

header {
    background-image: url(./../calcBackground.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-color: whitesmoke;
    padding: 1px;
    position: relative;
}

.title {
    margin: 45px auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(70, 130, 180, 0.9);
    width: 60%;
    height: 45px;
    text-transform: uppercase;
}

.toggleButton {
    margin: 0 auto;
    height: 35px;
    display: flex;
    justify-content: center;
    img {
        margin-top: 5px;
        width: 20%;
        @include breakPoint(medium){
            width: 10%;
        }
    }
}

.ellipsisButton, .flipButton {
    width: 40%;
}

.flipButton:hover img {
     animation: flipButton infinite 4s linear;
} 

@keyframes flipButton {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// ===============
// CALCULATOR
// ===============

.transition {
    transform: rotate(180deg);
}

img {
    width: 30%;
}

form {
    text-align: center;
    input {
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: right;
        width: 80%;
    }
    button {
        width: 25%;
    }
}

button:hover {
   background-color: rgba(255, 255, 255, 0.9); 
   transition: background-color 0.5s;
}

.clearButton {
  background-color: orange;
}

.operatorButton {
    background-color: steelblue;
    transition: background-color 0.5;
}

.operatorButton:hover, .clearButton:hover {
    background-color: darkgray;
}

.equation {
    border-bottom: none;
}

.value {
    border-top: none;
}

.buttonsContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

// ===============
// HISTORY 
// ===============

.relative {
    position: relative;
}

.history {
    position: absolute;
    height: 70%;
    width: 80%;
    top: 12%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    overflow-y: scroll;
}

.hide {
    display: none;
}

ul {
    list-style: none;
    text-align: left;
    li {
        padding: 5px 0px 5px 2px;
        margin-left: -25px;
        @include breakPoint(medium){
            padding: 5px 0px 5px 10px;
        }
    }
}