@import "_setup.scss";
@import "_utils.scss";
@import "_typography.scss";

.wrapper {
    width: 300px;
    margin: 0 auto;
}

// ===============
// CALCULATOR
// ===============

img {
    width: 30%;
}

form {
    margin-top: 25px;
    text-align: center;
    input {
        margin: 0 auto;
        text-align: right;
        margin-top: 25px; 
        width: 80%;
    }
    button {
        width: 25%;
    }
}

.equation {
    border-bottom: none;
}

.value {
    border-top: none;
    margin-top: -20px
}

.buttonsContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

// ===============
// HISTORY 
// ===============

.historyTitle {
    text-align: center;
}

ul {
    list-style: none;
    margin-left: -10px;
    text-align: left;
}



